@import "../../sass/style";

.flag__lists {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;

  @media only screen and(max-width:915px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and(max-width:680px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and(max-width:450px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
