@import "../../sass/style";

.header {
  background: #fff;
  padding: 2rem 0;
}

.main-heading {
  font-weight: $bold;
  font-size: 2rem;
  @media only screen and(max-width:560px) {
    text-align: center;
  }
}
